.git
.venv
venv
**/__pycache__
**/*.pyc
.env
.env.*
.sesskey
**/node_modules
**/.docusaurus
**/build
dist
*.egg-info
tmpdata
models
dagster_home/history
dagster_home/storage
dagster_home/logs
dagster_home/schedules
