
modules = ["python-3.12:v25-20230920-d4ad2e4", "bash"]
run = "python anomstack/main.py"
hidden = [".config", ".pytest_cache"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 26773340
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python anomstack/main.py"
