boto3
dagit
dagster
dagster-docker
dagster-gcp
dagster-gcp-pandas
dagster-postgres
dagster-webserver
dagster-cloud
duckdb
google-auth
google-cloud-bigquery
Jinja2
matplotlib
numpy
oscrypto
openai>=1.2.4
pandas
pandas-gbq
plotly
pyod
pyyaml
snowflake-connector-python[pandas]
seaborn
streamlit
tabulate
