anomaly-agent>=0.13.0
boto3
clickhouse-connect
dagit
dagster
dagster-docker
dagster-gcp
dagster-gcp-pandas
dagster-postgres
dagster-webserver
psycopg2-binary
dagster-cloud
duckdb
google-auth
google-cloud-bigquery
Jinja2
libsql-experimental
matplotlib
MonsterUI
numpy
oscrypto
pandas
pandas-gbq
plotly
posthog
pyod>=2.0.6
python-dotenv
python-fasthtml
pyyaml
seaborn
slack_sdk
snowflake-connector-python[pandas]
sqlglot
streamlit
